<h5>Hola mundo Angular: {{title}} ID: {{user.id}} USER: {{user.name}} EMAIl: {{user.email}} STATE: {{user.isActive}} </h5>

<h3>Datos modificados del componente hijo</h3>
<p>User ID: {{user.id}}</p>
<p>User NAME: {{user.name}}</p>
<p>User EMAIL: {{user.email}}</p>
<p>User STATE: {{user.isActive}}</p>
<br>
<app-hello-world *ngIf="showComponent"></app-hello-world>
<button (click)="toggleComponent()" >click</button>
<app-user-profile [user]="user" (onUserEmit)="onUserEmit($event)"></app-user-profile>
<p>FECHA ACTUAl: {{fechaActual}}  Fecha con pipe: {{fechaActual| date:'yyyy/mm/dd'}}</p>


<br><br>
<table>
  <thead>
  <tr>
    <th>name</th>
    <th>email</th>
    <th>estate</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let user of users">
    <td>{{user.name |uppercase}}</td>
    <td>{{user.email|uppercase}}</td>
    <td>{{user.isActive|status}}</td>
  </tr>
  </tbody>


</table>
